* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* body{
  background-color: #111;
  color: white;
} */

.parent{
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.card{
  height: 350px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #a5a5a5;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}


.center{
  display: flex;
  flex-direction: column;
}


.center h3{
  font-size: 20px;
  font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
}

.center h2{
  font-size: 20px;
}

.hashtags{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.hashtags h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;

}




.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #878787c8;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.bottom h2{
  font-size: 19px;
}

.bottom h6{
  font-size: 11px;
  color: #8b8b8b;
}


button:active{
  scale: 0.95;
}