* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
  color: white;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card{
  width: 250px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  background-color: #222;
  border-radius: 10px;
}

.card img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.card p{
  margin: 20px 0;
}

.card button{
  padding: 15px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
}